@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";

$grey-darker:  #2b2c31;
$grey-dark:    #2f3136;
$grey:         #36393f;
$grey-light:   #484c52;
$grey-lighter: #dee5ed;

$orange:       #DF691A;
$yellow:       #faa61a;
$green:        #43b581;
$cyan:         #62d0f6;
$blue:         #2f6cd1;
$red:          #f04747;
